.inputs {
    width: 30vw;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 600px;
    
    & *{
        margin-bottom: 30px;
        height: 50px;
    }

    input {
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 2px solid rgb(146, 146, 146);
        font-size: 28px;
        transition: 500ms ease border-bottom;

        &:focus {
            border-bottom: 2px solid $text-color;
        }
    }

    button {
        background-color: $text-color;
        color: white;
        border: none;
        outline: none;
        border-radius: 10px;
        transition: 500ms ease background-color;

        &:hover {
            background-color: rgb(121, 121, 121);
        }
    }

    .links {
        display: flex;
        justify-content: center;

        & * {
            margin: 0 10px;
        }
    }
}